@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

body{
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 640px) {
    .container {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

@media (min-width: 1024px) {
    .container {
        padding-right: 4rem;
        padding-left: 4rem;
    }
}

.active{
    @apply text-orange-500 underline decoration-orange-500 underline-offset-4;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
.pagination li {
    margin: 0 5px;
}
  
.pagination a {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
}
  
.pagination a:hover {
    background-color: #eee;
}
  
.pagination li.activePagination {
    background-color:  rgb(255, 106, 0);
    border-radius: 4px;
    color: #fff;
}

.active-button{
    color: #fc3c1a !important;
    /* background: #000; */
}